.items-center{
  margin: 13px;
  height: 350px;
  width: 40px;
}


.td-01{
  width: 15%;
  font-size: 13px;
}
.td-02{
  width: 13%;
  font-size: 13px;
}
.td-03{
  width: 9%;
  font-size: 13px;
}
.td-04{
  width: 18%;
  font-size: 13px;
}.td-05{
  width: 13%;
  font-size: 13px;
}
.td-06{
  width: 13%;
  font-size: 13px;
}
.td-07{
  width: 13%;
  font-size: 13px;
}
.td-08{
  width: 13%;
  font-size: 13px;
}
.td-09{
  width: 15%;
  font-size: 13px;
}
.td-10{
  width: 13%;
  font-size: 13px;
}

/* TransactionHistory.css */

.header-title {
  font-weight: bold;
}


/* .label {
  margin-right: 5px;
} */

.select-field {
  height: 40px;
  width: 24%;
  margin-left: 28px;
  border-radius: 5px;
  padding: 5px;
}

.input-field {
  width: 24%;
  height: 15px;
  margin-left: 15px;
  border-radius: 5px;
  padding: 5px;
}


.submit-button {
  display: block;
  margin-left: 160px;
  padding: 10px;
  background-color: #b01c24;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  }
  .submit-search-button {
   
    width: 200px;
    height: 30px;
    margin-right: 320px;
    background-color: #b01c24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }

.transaction-table {
  width: 113%;
  border-collapse: collapse;
  margin-top: 20px;
}


.transaction-table th,
.transaction-table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin-left: 10px;
  backgroundColor: #b01c24;
  color: #b01c24;
}

.date-picker {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.select-input {
  width: 200px;
  height: 30px;
  margin-left: 20px;
}

.form {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  margin-top: 85px;
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

.label-group {
  display: flex;
  align-items: center;
 margin-bottom: 5px;
}

.date-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  margin-right: 10px;
  width: 130px;
}


.input-field {
  width: 200px;
  height: 20px;
}
 
.text-input,
.date-input {
  width: 200px;
  height: 30px;
  margin-left: 10px;
}

.date-input-container {
  display: flex;
  align-items: center;
}

.search-icon {
  color: rgb(206, 3, 3);
}
.custom-modal-content {
  width: 150px;
  height: 80%;
}

.scroll-container {
  display: flex;
  width: 90%;
  height: 550px; /* Adjust the height as needed */
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scroll-content {
  padding: 10px;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.scroll-container::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0;
}

.scroll-container::-webkit-scrollbar-corner {
  background-color: transparent;
}
.scroll-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scroll-container::before,
.scroll-container::after {
  content: none;
} 







