.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #b01c24, #000);
  }
  
  .login-card {
    width: 500px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 200px; /* Increase the width for a larger size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 16px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left; /* Set the text alignment to left */
  }
  
  input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid #b01c24;
  border-radius: 4px;
  font-size: 14px;
  color: #b01c24;
  text-align: left; /* Set the text alignment to left */
}
 

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 12px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-size: 16px;
  color: #808080;
  background-color: white; /* Set the background color to white */
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #b01c24;
  outline: none;
}

.password-label{
  margin-top: 20px;
}
.login-button {
  padding: 12px;
  border: 1px solid #b01c24;
  border-radius: 4px;
  background-color: #b01c24;
  color: #ffffff;
  
  width: 330px;
  margin-top: 20px; /* Add space above the button */
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block; /* Add display block */
  margin: 0 auto; /* Add margin auto */
}

.button-container {
  margin-top: 20px; /* Add space above the button */
  margin-bottom: 10px; /* Add space below the button */
}

.alert.alert-danger {
  color: #b01c24;
}





