/* https://mdbootstrap.com/docs/react/getting-started/installation/ */



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-pills li a:hover {
  background-color: yellow;
}

/* .tabRow {
    justify-content: space-between;
    background-color: red;
    padding: 0.5rem;
} */

/* .badge {
  line-height: 0;
} */

#id{
    min-height: 100%;
 
}